html, body, h1, h2, h3, h4, p, ul, li,
figure {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  overflow: hidden; }

body {
  -webkit-transition: all 0.5s;
  background: #f4f4f4; }

.night {
  background: #4f5566; }

.sun {
  background: #e6907a; }

* {
  -webkit-user-select: none; }

.panning * {
  cursor: move; }

#timestamp {
  text-align: center;
  color: red;
  font-size: 1.5em; }

nav, footer {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Apercu Mono;
  font-size: 12px; }

.night nav {
  color: white; }

footer {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0; }

.wideslide {
  width: 100%;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  outline: transparent; }
  .wideslide::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-transition: all 0.1s;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: black;
    box-shadow: 0 0 0 0px black; }
  .wideslide:focus::-webkit-slider-thumb {
    background: #12c2ff; }
  .wideslide:hover {
    background: black; }
    .wideslide:hover::-webkit-slider-thumb {
      box-shadow: 0 0 0 5px black; }

.night .wideslide {
  background: rgba(255, 255, 255, 0.2); }
  .night .wideslide::-webkit-slider-thumb {
    background: white;
    box-shadow: 0 0 0 0px white; }
  .night .wideslide:hover {
    background: white; }
    .night .wideslide:hover::-webkit-slider-thumb {
      box-shadow: 0 0 0 5px white; }

.timeline {
  width: 100%;
  padding: 10px 0;
  color: #4f5566;
  background: white;
  cursor: col-resize; }
  .timeline::after {
    content: "";
    height: 35px;
    width: 1px;
    background: red;
    bottom: 0px;
    left: 50%;
    position: absolute;
    z-index: 999; }
  .timeline .times {
    white-space: nowrap;
    display: inline-block; }
    .timeline .times > li {
      display: inline-block;
      list-style: none;
      width: 100px;
      text-align: center; }
  .timeline::-webkit-scrollbar {
    height: 0px;
    background: white; }
  .timeline::-webkit-scrollbar-thumb {
    background: black; }
    .timeline::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.6); }

.controls {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 15px; }
  .controls button {
    -webkit-appearance: none;
    -webkit-transition: all 0.2s;
    border: none;
    outline: none;
    color: #4f5566;
    background: transparent;
    font-size: 15px;
    cursor: pointer; }
    .controls button:focus {
      color: #12c2ff; }
    .controls button:hover {
      opacity: 0.6; }

.controls-right {
  position: fixed;
  top: auto;
  right: 15px;
  bottom: 10px;
  left: auto; }

.night .timeline,
.night .controls,
.night .controls button {
  color: #f4f4f4; }

.playing #play,
.paused #pause {
  display: none; }

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; }
  .loading .spinner {
    display: block; }
  .spinner > div {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    border: 2px solid red;
    height: 20px;
    width: 20px;
    border-radius: 50%; }

.map-back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#map {
  height: 800px;
  width: 800px; }

#mapCanvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 800px;
  width: 800px;
  pointer-events: none; }

.shapes > .line {
  fill: none;
  stroke-width: 0;
  opacity: 1;
  -webkit-transition: all 1s;
  stroke: #4f5566; }
  .shapes > .line.selected {
    stroke-width: 0.15; }

.night .shapes > .line {
  stroke: white; }

.bus > circle {
  fill: #4f5566;
  -webkit-transition: all 0.3s; }
.bus > text {
  -webkit-transition: all 0.5s;
  opacity: 0;
  fill: #4f5566;
  font-family: Apercu Mono;
  font-size: 10px; }
  .panning .bus > text {
    opacity: 0; }
.bus:hover {
  cursor: pointer; }
  .bus:hover > text {
    opacity: 1; }

.zoom .bus > circle {
  fill: #4f5566;
  stroke: #4f5566;
  stroke-width: 2; }
.zoom .bus > text {
  opacity: 1; }
.zoom .bus:hover > circle {
  stroke: #4f5566;
  stroke-width: 7; }

.night .bus > circle {
  fill: white; }

.panning .label {
  display: none; }

.TEMPHIDE {
  display: none !important; }
