html, body, h1, h2, h3, h4, p, ul, li,
figure {
  margin: 0; }

body, html {
  height: 100%;
  overflow: hidden; }

nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-family: Apercu Mono;
  font-size: 12px; }

.wideslide {
  width: 100%; }

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; }
  .loading .spinner {
    display: block; }
  .spinner > div {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%; }

.map-back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#map {
  height: 800px;
  width: 800px;
  cursor: -webkit-grab; }

.shapes > .line {
  fill: none;
  stroke-width: 0.15; }
  .shapes > .line .selected {
    stroke: red; }

.bus > text {
  font-family: Apercu Mono;
  font-size: 10px; }

.panning .labelbox {
  display: none; }

.labelbox {
  fill: transparent; }

.labeltext {
  fill: blue;
  font-family: Apercu Mono;
  font-size: 10px;
  text-anchor: middle; }

.link {
  stroke: gray;
  stroke-width: 0.8; }

.TEMPHIDE {
  display: none !important; }
