html, body, h1, h2, h3, h4, p, ul, li,
figure {
  margin: 0;
  padding: 0; }

* {
  font: inherit; }

body, html {
  height: 100%;
  overflow: hidden; }

body {
  -webkit-transition: all 0.5s;
  background: #b2c5d1;
  font-family: "Karla", sans-serif;
  font-size: 14px; }

.paused {
  background: #e0e9ee; }

* {
  -webkit-user-select: none; }

.panning * {
  cursor: all-scroll; }

h1 {
  font-size: 22px;
  color: #00365b;
  font-weight: bold; }

nav, footer {
  position: fixed;
  z-index: 999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  -webkit-transition: all 0.3s;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: 10px; }

footer {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0; }

#speed, input {
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  padding: 10px 45px 10px 15px;
  background: white; }
  #speed:focus, input:focus {
    outline: 1px solid #12c2ff; }
  #speed:hover, input:hover {
    background: rgba(0, 0, 0, 0.1); }

#speed {
  margin-right: -35px; }
  #speed + b {
    font-size: 8px;
    margin-right: 35px; }

.select-wrapper {
  float: right; }

#play, #pause {
  -webkit-transition: all 0.2s;
  text-decoration: none;
  width: 50px;
  text-align: center;
  color: black;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.05);
  display: inline-block; }
  #play:hover, #pause:hover {
    background: rgba(0, 0, 0, 0.1); }

#play {
  background: white; }

.loading #timestamp {
  -webkit-transform: translate3d(0, 100px, 0); }
.loading nav {
  -webkit-transform: translate3d(0, -50px, 0); }

.interp {
  stroke-width: 1;
  stroke: lime;
  stroke-dasharray: 1, 4; }

.interpshape {
  stroke-width: 1;
  stroke: blue;
  fill: none;
  stroke-dasharray: 1, 4;
  visibility: hidden; }

#timestamp {
  position: absolute;
  bottom: 17px;
  z-index: 999;
  width: 100px;
  padding: 3px 0;
  margin-left: -50px;
  left: 50%;
  background: #b4c6d2;
  -webkit-transition: all 0.3s;
  text-align: center;
  color: #00365b;
  font-size: 1em;
  margin-bottom: 0px; }

.loading .timeline {
  -webkit-transform: translate3d(0, 60px, 0); }

.timeline {
  width: 100%;
  -webkit-transition: all 0.3s;
  padding: 20px 0;
  cursor: col-resize;
  color: #00365b;
  position: relative;
  background: rgba(181, 200, 212, 0.86);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1); }
  .timeline:active {
    cursor: col-resize; }
  .timeline::after {
    content: "";
    height: 57px;
    width: 0px;
    border-right: 1px dotted #00365b;
    bottom: 0px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    z-index: 5; }
  .timeline .times {
    white-space: nowrap;
    display: inline-block; }
    .timeline .times > li {
      display: inline-block;
      list-style: none;
      width: 450px;
      position: relative;
      -webkit-text-rendering: optimizeLegibility;
      text-align: center; }
      .timeline .times > li::after {
        content: "30";
        position: absolute;
        right: 0;
        top: 5px;
        font-size: 8px; }

.controls {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 15px; }
  .controls button {
    -webkit-appearance: none;
    -webkit-transition: all 0.2s;
    border: none;
    outline: none;
    color: #4f5566;
    background: transparent;
    font-size: 15px;
    cursor: pointer; }
    .controls button:focus {
      color: #12c2ff; }
    .controls button:hover {
      opacity: 0.6; }

.playing #play,
.paused #pause {
  display: none; }

@-webkit-keyframes what {
  0% {
    -webkit-transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; }
  .loading .spinner {
    display: block; }
    .loading .spinner > div {
      -webkit-animation: what 1s linear infinite; }
  .spinner > div {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    border: 2px solid black;
    height: 0px;
    width: 50px; }

.map-back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#map {
  height: 800px;
  width: 800px;
  cursor: all-scroll; }

.line {
  fill: none;
  stroke-width: 1;
  -webkit-transition: stroke 1s;
  stroke: white; }

.viewing-stop-mode .line {
  stroke: #d2dde4; }

.zoom2 .line {
  stroke-dasharray: none;
  stroke-width: 1; }

.nearest-bus-line {
  fill: none;
  stroke-width: 1;
  stroke: blue;
  stroke-dasharray: 1, 3; }

.bus {
  cursor: pointer; }
  .bus > circle {
    fill: #00365b;
    -webkit-transition: stroke 0.3s; }
  .bus:hover > circle {
    fill: white;
    stroke: #00365b;
    stroke-width: 1; }
  .bus > text {
    visibility: hidden;
    -webkit-transition: opacity 0.3s;
    text-anchor: middle;
    opacity: 0;
    fill: #00365b;
    font-weight: bold;
    font-size: 10px; }
    .panning .bus > text {
      opacity: 0; }

.zoom .bus > circle, .zoom2 .bus > circle {
  fill: #b2c5d1;
  stroke-width: 2;
  opacity: 1; }
.zoom .bus > text, .zoom2 .bus > text {
  visibility: visible;
  opacity: 1; }
.zoom .bus:hover > text, .zoom2 .bus:hover > text {
  font-size: 24px; }

.viewing-bus > circle, .zoom .viewing-bus > circle, .zoom2 .viewing-bus > circle {
  fill: #00365b;
  stroke: #00365b;
  stroke-width: 2; }
.viewing-bus > text, .zoom .viewing-bus > text, .zoom2 .viewing-bus > text {
  visibility: hidden; }

.stop {
  fill: transparent;
  cursor: pointer;
  visibility: visible;
  stroke-width: 1;
  stroke: white;
  -webkit-transition: stroke-width 0.2s; }
  .stop:hover {
    opacity: 1;
    stroke: #494948;
    stroke-width: 10;
    fill: #494948; }

.viewing-stop-mode .stop {
  opacity: 0.4; }

.viewingstop {
  opacity: 1 !important;
  stroke-width: 8; }

.TEMPHIDE {
  display: none !important; }

#autocomplete {
  position: absolute;
  padding: 10px 15px; }

.result {
  font-size: 2em; }

#imagelayer {
  opacity: 0.06;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0; }

#imagelayer .map {
  height: 100%;
  width: 100%;
}

@-webkit-keyframes bouncein {
  0% {
    opacity: 0;
    height: 0;
    -webkit-transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.2); }

  80% {
    opacity: 1;
    -webkit-transform: scale(0.96); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

.label {
  position: fixed;
  top: -10px;
  left: 20px;
  pointer-events: none;
  -webkit-transform-origin: top left;
  -webkit-transform: translate3d(-200px, -200px, 0);
  font-size: 22px;
  min-width: 600px; }
  .label h2 {
    font-weight: bold; }
  .label h3 {
    font-size: 0.6em;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0 0.5em 0; }
  .label .stopentry {
    -webkit-transform-origin: top left;
    line-height: 1.5em;
    height: 30px;
    white-space: nowrap; }
  .label .time, .label .sign {
    display: inline-block; }
  .label .time {
    width: 80px;
    margin-right: 1em; }

#stoplabel {
  color: #00365b;
  -webkit-animation: bouncein 0.3s; }

#buslabel {
  color: #00365b; }

@-webkit-keyframes shrinkrow {
  0% {
    height: 25px;
    opacity: 1; }

  100% {
    height: 0px;
    opacity: 0; } }

.shrink-away {
  -webkit-animation: shrinkrow 0.2s;
  overflow: hidden;
  height: 0;
  opacity: 0; }
