// CSS Reset
// ---------

html, body, h1, h2, h3, h4, p, ul, li,
figure
	margin: 0
	padding: 0

*
	font-family: inherit

// Mixins
// ------

@mixin pos($list)
	top: nth($list, 1)
	right: nth($list, 2)
	bottom: nth($list, 3)
	left: nth($list, 4)

@mixin boxfix()
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box




// Variables
// ---------

$dark: rgb(79, 85, 102)
$light: #f4f4f4 //rgb(206, 223, 228)
$sun: rgb(230, 144, 122)



// Body
// ---

body, html
	height: 100%
	overflow: hidden

body
	-webkit-transition: all 0.5s
	background: #f7f7f7
	font:
		family: "Karla"
		size: 14px


// Dragging Support
// ----------------

*
	-webkit-user-select: none

.panning *
	cursor: all-scroll





// Nav
// ---

nav, footer
	position: fixed
	z-index: 999
	@include boxfix

nav
	-webkit-transition: all 0.3s
	@include pos(10px 10px auto 10px)

footer
	@include pos(auto 0 0 0) 


#speed, input
	font-family: inherit
	font-size: 1em
	-webkit-appearance: none
	border: none
	border-radius: 0
	padding: 10px 45px 10px 15px
	background: white
	&:focus
		outline: 1px solid #12c2ff
	&:hover
		background: rgba(0,0,0,0.1)

#speed
	margin-right: -35px
	& + b
		font-size: 8px
		margin-right: 35px

.select-wrapper
	float: right

#play, #pause
	float: right
	-webkit-transition: all 0.2s
	text-decoration: none
	color: black
	padding: 10px 15px
	background: rgba(0,0,0,0.05)
	display: inline-block
	&:hover
		background: rgba(0,0,0,0.1)


.loading
	#timestamp
		-webkit-transform: translate3d(0,100px,0)
	nav
		-webkit-transform: translate3d(0,-50px,0)

.interp
	stroke-width: 1
	stroke: lime
	stroke-dasharray: 1,4
.interpshape
	stroke-width: 1
	stroke: blue
	fill: none
	stroke-dasharray: 1,4
	visibility: hidden


#timestamp
	position: absolute
	bottom: 10px
	z-index: 999
	width: 100px
	margin-left: -50px
	left: 50%
	background: white
	-webkit-transition: all 0.3s
	text-align: center
	color: black
	font-size: 1em
	margin-bottom: 0px

.loading .timeline
	-webkit-transform: translate3d(0,30px,0)

.timeline
	width: 100%
	-webkit-transition: all 0.3s
	padding: 10px 0
	color: black
	cursor: col-resize
	color: black
	position: relative
	background: white
	box-shadow: inset 0 0 2px rgba(0,0,0,0.1)
	&:active
		cursor: col-resize
	&::after
		content: ""
		height: 30px
		width: 0px
		//background: red
		border-right: 1px solid red
		bottom: 0px
		left: 50%
		margin-left: -5px
		position: absolute
		z-index: 999
	.times
		white-space: nowrap
		display: inline-block
		&> li
			display: inline-block
			list-style: none
			width: 450px
			position: relative
			-webkit-text-rendering: optimizeLegibility
			text-align: center
			// &::after
			// 	content: "30"
			// 	position: absolute
			// 	right: 0
			// 	font-size: 8px

.controls
	position: fixed
	@include pos(auto auto 5px 15px)
	button
		-webkit-appearance: none
		-webkit-transition: all 0.2s
		border: none
		outline: none
		color: $dark
		background: transparent
		font-size: 15px
		cursor: pointer
		&:focus
			color: #12c2ff
		&:hover
			opacity: 0.6


.playing #play,
.paused #pause
	display: none

// Spinner
// -------

@-webkit-keyframes what
	0%
		-webkit-transform: rotate(0deg)
	50%
		-webkit-transform: rotate(180deg)
	100%
		-webkit-transform: rotate(360deg)

.spinner
	position: fixed
	@include pos(0 0 0 0)
	display: none
	.loading &
		display: block
		> div
			-webkit-animation: what 1s linear infinite
	> div
		position: absolute
		@include pos(50% auto auto 50%)
		border: 2px solid black
		height: 0px
		width: 50px

// Map
// ---

.map-back
	position: fixed
	//box-shadow: inset 0 5px 200px rgba(0,0,0,0.2)
	@include pos(0 0 0 0)
	-webkit-backface-visibility: hidden
	-webkit-transform: translate3d(0,0,0)

#map
	height: 800px
	width:  800px
	//background: white
	cursor: -webkit-grab


// Lines
// -----

.line
	fill: none
	stroke-width: 1
	opacity: 0.2
	-webkit-transition: all 1s
	stroke: red
	stroke-dasharray: 1,2
	&.selected
		stroke-width: 0.15

.zoom2 .line
	stroke-dasharray: none
	stroke-width: 1

// Buses
// -----

.bus
	&> circle
		fill: blue
		-webkit-transition: all 0.3s
	&> text
		visibility: hidden
		-webkit-transition: all 0.5s
		//display: none
		text-anchor: middle
		opacity: 0
		.panning &
			opacity: 0
		fill: blue
		font:
			weight: bold
			size: 10px

.zoom .bus
	&> circle
		fill: blue
		stroke: blue
		stroke-width: 1.5
	&> text
		opacity: 1

.zoom2 .bus
	&> circle
		fill: white
		stroke: white
		stroke-width: 5
		opacity: 1
	&> text
		visibility: visible
		opacity: 1

.stop
	fill: red
	visibility: hidden

.zoom2 .stop
	fill: red
	visibility: visible
	stroke-width: 1

.panning .label
	display: none

.TEMPHIDE
	display: none!important

#autocomplete
	position: absolute
	padding: 10px 15px

.result
	font-size: 2em
